html, body {
    width: 100%;
    max-width: 1000px;
    background: grey;
}

.main-container {
    display:flex;
    flex-flow:row;
    background: black;
    color: red;
}

.main-items {
    width: 50%;
    display:flex;
    flex-flow: wrap;
}